*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}

body{
    /* animation: fade 1.80s ease-out; */
    background: linear-gradient(350deg, #333268, #55498a, #6456a5, #5b4d99, #776ca5, #4c4b8a); 
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.menu{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    /* background-color: black; */
    background: linear-gradient(350deg, #4e4e4e, #414141, #555555);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 5;
}
@keyframes fade{
    from{
        opacity: 0;
        filter: blur(1px);
        transform: translate(200px);
    }
    to{
        opacity: 1;
        filter: none;
    }
}
.mobile-menu, .mobile-btn{
    display: none;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    width: 60%;
    height: auto;
}

.lista-menu{
    display: flex;
    gap: 30%;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: "Bangers", system-ui;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}
.lista-menu a::after{
    content: ""; /* Cria um pseudo-elemento */
    display: block; /* Necessário para o sublinhado */
    height: 2px; /* Altura do sublinhado */
    background: rgb(126, 145, 206); /* Cor do sublinhado */
    width: 0; /* Começa invisível */
    transition: width 0.3s; /* Efeito de transição */
    position: absolute; /* Para posicionar o sublinhado */
    left: 0; /* Posicionar à esquerda */
    bottom: -5px; /* Distância do texto */
}
.lista-menu a:hover::after {
    width: 100%; /* Expande para o tamanho do texto */
}

.item-lista{
    display: inline;
    cursor: pointer;
   
}
.item-eu{
    color: rgba(203, 184, 255, 0.705);
    text-decoration: none;
    position: relative;
}
.item-eu:hover{
    font-style:italic ;
}
.item-exp{
    color: rgba(203, 184, 255, 0.705);
    text-decoration: none;
    position: relative;
}
.item-exp:hover{
    font-style:italic ;
}
.item-proj{
    color: rgba(203, 184, 255, 0.705);
    text-decoration: none;
    position: relative;
}
.item-proj:hover{
    font-style:italic ;
}

.titulo-box-eu{
    display: flex;
    margin-top: 18%;
    width: 100%;
    justify-content: center;
    font-family: "Bangers", system-ui;
    font-size: 50px;
    font-weight: 400;
}
.box-eu{
    display: flex;
    /* background-color: aqua; */
    /* margin-top: 2%; */
    width: 100%;
    height: 450px;
    flex-direction: row;
    opacity: 0;
    transform: translateX(500px);
    animation: fadeInUp 2.8s forwards;
    animation-delay: 0.5s; 

}
@keyframes fadeInUp{
    to {
        opacity: 10;
        transform: perspective(50px);
    }
}

/* Ativação ao rolar */
:target {
    opacity: 10;
    transform: translateY(50px);
}

.eu{
    width: 100%;
}

.descricao{
    display: flex;
    /* background-color: black; */
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 10px;
    font-family: "Bangers", system-ui;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

.imagem{
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
    /* background-color: aliceblue; */
}

.foto-minha{
    border-radius: 50%;
    transition-duration: 0.3s;
}
.foto-minha:hover{
    transform: scale(1.10);
}

.titulo-box-experiencias{
    display: flex;
    margin-top: 10%;
    width: 100%;
    justify-content: center;
    font-family: "Bangers", system-ui;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
}

.box-experiencias{
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.titulo-sql{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}
.ex-1{
    /* background-color: silver; */
    background: linear-gradient(350deg, #2c2c2c, #303030, #414141);
    color: rgb(126, 145, 206);
    display: flex;
    width: 50%;
    height: 300px;
    flex-direction: row;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    gap: 10%;
    opacity: 0;
    transform: translateX(300px);
    animation: ex-1 2.8s normal;
    animation-timeline: view();
    animation-delay: 0.5s;
    /* animation-range: entry 0% cover 90%;  */

}
@keyframes ex-1{
    to {
        opacity: 10;
        transform: perspective(50px);
    }
}

/* Ativação ao rolar */
:target {
    opacity: 10;
    transform: translate(50px);
}

.text-sobre-ex-1{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 20px;
}
.img-ex-1{
    display: flex;
    width: 60%;
    height: auto;
    margin-right: 100px;

}
.img-ex-1 img{
    display: flex;
    width: 100%;
    border-radius: 50%;
}

.titulo-python{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}
.ex-2{
    /* background-color: silver; */
    background: linear-gradient(350deg, #2c2c2c, #303030, #414141);
    color: rgb(126, 145, 206);
    display: flex;
    width: 50%;
    height: 300px;
    flex-direction: row;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-300px);
    animation: ex-2 2.8s normal;
    animation-timeline: view();
    animation-delay: 0.5s; 
}
@keyframes ex-2{
    to {
        opacity: 10;
        transform: perspective(50px);
    }
}

/* Ativação ao rolar */
:target {
    opacity: 10;
    transform: translate(50px);
}
.text-sobre-ex-2{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 20px;
    width: 50%;
}


.img-ex-2{
    display: flex;
    width: 30%;
    height: auto;
    margin-right: 100px;
}
.img-ex-2 img{
    display: flex;
    width: 100%;
    border-radius: 50%;
}

.titulo-html-css{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

.ex-3{
    /* background-color: silver; */
    background: linear-gradient(350deg, #2c2c2c, #303030, #414141);
    color: rgb(126, 145, 206);
    display: flex;
    width: 50%;
    height: 300px;
    flex-direction: row;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(300px);
    animation: ex-2 2.8s normal;
    animation-timeline: view();
    animation-delay: 0.5s; 
}
@keyframes ex-2{
    to {
        opacity: 10;
        transform: perspective(50px);
    }
}

/* Ativação ao rolar */
:target {
    opacity: 10;
    transform: translate(50px);
}
.text-sobre-ex-3{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 20px;
    width: 50%;
}


.img-ex-3{
    display: flex;
    width: 17%;
    height: 150px;
    margin-right: 100px;
}
.img-ex-3 img{
    display: flex;
    width: 100%;
    border-radius: 50%;
}


.titulo-modelos-ageis{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}
.ex-4{
    /* background-color: silver; */
    background: linear-gradient(350deg, #2c2c2c, #303030, #414141);
    color: rgb(126, 145, 206);
    display: flex;
    width: 50%;
    height: 300px;
    flex-direction: row;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-300px);
    animation: ex-4 2.8s normal;
    animation-timeline: view();
    animation-delay: 0.5s;
    margin-bottom: 10%;
}
@keyframes ex-4{
    to {
        opacity: 10;
        transform: perspective(50px);
    }
}

/* Ativação ao rolar */
:target {
    opacity: 10;
    transform: translate(50px);
}

.text-sobre-ex-4{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 20px;
}
.img-ex-4{
    display: flex;
    width: 60%;
    height: 130px;
    margin-right: 100px;

}
.img-ex-4 img{
    display: flex;
    width: 100%;
    border-radius: 50%;
}

.titulo-box-projetos{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50%;
}