#experiencias{
    margin: 2%;
}

.titulo-box-exp {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 3em;
    letter-spacing: 0.2em;
    margin-top: 10%;
    font-family: "Bangers", system-ui;
    font-size: 50px;
    font-weight: 400;
    cursor: default;
    color: white;
}

.titulo-box-exp span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.titulo-box-exp span:hover {
    transform: translateY(-10px);
}

.box-experiencias {
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 1s ease-in-out; /* Transição suave para opacidade */
}

.box-experiencias.visible {
    opacity: 1; /* Torna o elemento visível quando a classe é adicionada */
}

/* 
@keyframes apareca{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    30%{
        opacity: 1;
        transform: translateX(0);
    }
    50%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
    10%{
        opacity: 1;
        transform: translateX(0);
    }
} 

.box-experiencias2{
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    opacity: 0; /* Inicialmente invisível 
    transition: opacity 1s ease-in-out; /* Transição suave para opacidade 
}

.box-experiencias2.visible {
    opacity: 1; /* Torna o elemento visível quando a classe é adicionada 
}

@keyframes apareca{
    /* 0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    30%{
        opacity: 1;
        transform: translateX(0);
    }
    50%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}
*/


.titulo-exp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}
.ex{
    background-color: #DCDCDC;
    /* background: linear-gradient(350deg, #2c2c2c, #303030, #414141); */
    backdrop-filter: (12px);
    color: black;
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}
.ex-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* Permite a rotação 3D */
    transition: transform 0.6s; /* Animação da rotação */
}
.ex:hover .ex-inner{
    transform: rotateX(180deg);
}
.ex-front, .ex-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
}
.ex-front{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.ex-back{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(180deg);
    cursor: pointer;
}
.text-sobre-ex{
    /* background-color: white; */
    display: flex;
    width: 80%;
    height: 80%;
    justify-items: center;
    align-items: center;
    text-align: justify;
    font-size: 22px;
   
    
}
.emblema{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
#emb{
    font-size: 38px;
    color: black;
}

@media screen and (max-width: 600px){
    .titulo-box-exp{
        width: 100%;
        justify-content: center;
        font-size: 38px;
    }
    .box-experiencias{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }
    .box-experiencias2{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }
    .ex{
        width: 80%;
    }
    .text-sobre-ex{
        width: 80%;
        height: 50%;
        font-size: 14px;
    }
    #emb{
        font-size: 32px;

    }
}