#experiencias{
    margin: 20px;
}

.titulo-box-experiencias{
    display: flex;
    width: 100vw;
    justify-content: center;
    font-size: 3em;
    letter-spacing: 0.2em;
    margin-top: 20%;
    font-family: "Bangers", system-ui;
    font-size: 50px;
    font-weight: 400;
    cursor: default;

}

.titulo-box-experiencias span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.titulo-box-experiencias span:hover {
    transform: translateY(-10px);
}

.box-experiencias{
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.titulo-exp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}
.ex{
    /* background-color: silver; */
    background: linear-gradient(350deg, #2c2c2c, #303030, #414141);
    color: rgb(126, 145, 206);
    display: flex;
    width: 50%;
    height: 600px;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.text-sobre-ex{
    /* background-color: white; */
    display: flex;
    width: 80%;
    height: 80%;
    justify-items: center;
    align-items: center;
    font-size: 20px;
}



@media screen and (max-width: 600px){
    .ex-1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 400px;
        width: 300px;
        transform: translateX(50px);
        animation: ex-1 2.8s normal;
        animation-timeline: view();
        animation-delay: 0.5s;
    }
    .text-sobre-ex-1{
        display: flex;
        width: 400px;
        height: 300px;
        font-size: 18px;
        text-align: start;

    }
    .img-ex-1{
        display: none;
    }
    .ex-2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 400px;
        width: 300px;
        transform: translateX(50px);
        animation: ex-1 2.8s normal;
        animation-timeline: view();
        animation-delay: 0.5s;
    }
    .text-sobre-ex-2{
        display: flex;
        width: 400px;
        height: 300px;
        font-size: 18px;
        text-align: start;
    }
    .img-ex-2{
        display: none;
    }
    .ex-3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 400px;
        width: 300px;
        transform: translateX(50px);
        animation: ex-1 2.8s normal;
        animation-timeline: view();
        animation-delay: 0.5s;
    }
    .text-sobre-ex-3{
        display: flex;
        width: 400px;
        height: 300px;
        font-size: 18px;
        text-align: start;
    }
    .img-ex-3{
        display: none;
    }
    .ex-4{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 400px;
        width: 300px;
        transform: translateX(50px);
        animation: ex-1 2.8s normal;
        animation-timeline: view();
        animation-delay: 0.5s;
    }
    .text-sobre-ex-4{
        display: flex;
        width: 400px;
        height: 300px;
        font-size: 18px;
        text-align: start;
    }
    .img-ex-4{
        display: none;
    }
}