footer{
    /* background: linear-gradient(350deg, #4e4e4e, #414141, #555555); */
    background-color: #DCDCDC;
    border-top: 4px solid black;
}
.foorter-itens{
    display: flex;
    justify-content: space-between;
    padding: 20px 8% 24px 8%;
    align-items: center;
}
.copyright{
    color: black;
    font-weight: 500;
    font-size: 22px;
}
