
.titi{
    display: flex;
    justify-content: center;
}
@keyframes maquinaDeEscrever {
    0% {
        width: 0; /* Inicialmente a largura é zero */

    }
    100% {
        width: 100%; /* Largura total do texto */
        opacity: 1;
    }
}
h1.maquina-de-escrever {
    opacity: 0;
    margin-top: 20%;
    font-size: 10em;
    white-space: nowrap; /* Não permite que o texto quebre linha */
    overflow: hidden; /* Esconde o texto que ultrapassa o limite */
    border-right: 3px solid black; /* Simula o cursor da máquina de escrever */
    animation: maquinaDeEscrever 4s steps(30) 2s forwards, blink 1.75s step-end infinite; /* Animação da máquina de escrever + cursor piscando */
}

@keyframes blink {
    50% {
        border-color: transparent; /* Faz o "cursor" piscar */
    }
}
.box-eu{
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    height: 450px;
    flex-direction: row;
    opacity: 0;
    transform: translateX(500px);
    animation: fadeInUp 2.8s forwards;
    animation-delay: 0.5s; 
    gap: 10%;

}
@keyframes fadeInUp{
    to {
        opacity: 10;
        transform: perspective(50px);
    }
}

/* Ativação ao rolar */
:target {
    opacity: 10;
    transform: translateY(50px);
}


.descricao{
    /* background-color: black; */
    margin: 60px;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 10px;
    font-family: "Bangers", system-ui;
    font-size: 28px;
    font-weight: 200;
    font-style: normal;
}
.text-desc{
    margin: 10%;
}

.imagem{
    display: flex;
    justify-content: center;
    width: 20%;
    height: auto;
    /* background-color: aliceblue; */
    animation: mover 2s alternate infinite;
    /* background-color: aliceblue; */
}

@keyframes mover {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateX(10px) translateX(-30px); /* Mova 100px para a direita */
    }
    100% {
        transform: translateY(30px);
    }
}

.foto-minha{
    border-radius: 50%;
    transition-duration: 0.3s;
    animation: girar 4s forwards;
}
@keyframes girar{
    0%{
        transform: rotate(90px);
    }
    100%{
        transform: rotate(100px);
    }
}

.foto-minha:hover{
    transform: scale(1.10);
}

@media screen and (max-width: 600px){
    .titulo-box-eu{
        margin-top: 50%;
    }
    .eu{
        width: 100%;
        margin-bottom: 40%;
    }
    .box-eu{
        margin-top:20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: 800px;
        gap: 50px;
    }
    .descricao{
        width: 90% ;
    }

    .imagem{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
    }

    .foto-minha{
        width: 70%;
        height: auto;
    }
}